@model IEnumerable<WebAppContoso.Models.Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>REGISTRO DE EMPLEADOS</h1>

<br />

<button class="btn btn-success btn-lg"><a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="Create">Crear Empleado</a></button>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("NOMBRE")
            </th>
            <th>
                @Html.DisplayName("APELLIDO")
            </th>
            <th>
                @Html.DisplayName("CORREO")
            </th>
            <th>
                @Html.DisplayName("NÚMERO DE TELÉFONO")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolNum)
            </td>
            <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="Index">CREAR</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="Index">DETALLES</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="Index">ELIMINAR</a>
        </tr>
        }
    </tbody>
</table>
